<div id="dream-modal">
  <a class="modal_close" href="#"><%= image_tag "close.png" %></a>
  <h1>
    <span id="modal-header">Welcome to Dreams</span>
  </h1>
  <p>
    <span id="modal-font" class="signin">Sign in with YouTube to see your own dreams</span>
  </p>
  <div class="modal-btn sign-in">
    <a href="#">Sign In</a>
  </div>
  <p>
    <span id="modal-font" class="or">or</span>
  </p>
  <p>
    <span id="modal-font" class="random">Experience a random dream.</span>
  </p>
  <div class="modal-btn random-dream" style="margin-top:-285px">
    <a href="#">Random</a>
  </div>
</div>