<div id="login-container" class="pre-auth">This application requires access to your YouTube account.
    Please <a href="https://accounts.google.com/o/oauth2/auth?client_id=340894032158-a7ro9gvu0cm86sotbepj9pei5sgi1nk9.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F&scope=https://www.googleapis.com/auth/youtube&response_type=token" id="login-link">authorize</a> to continue.
  </div>
  <div class="post-auth">
    <div id="message"></div>
    <div id="chart"></div>
    <div>Choose a Video:</div>
    <ul id="video-list"></ul>
</div>
