  <div id="gConnect">
        <button class="g-signin"
            data-scope="https://www.googleapis.com/auth/plus.login"
            data-requestvisibleactions="http://schemas.google.com/AddActivity"
            data-clientId="340894032158-a7ro9gvu0cm86sotbepj9pei5sgi1nk9.apps.googleusercontent.com"
            data-accesstype="offline"
            data-callback="onSignInCallback"
            data-theme="dark"
            data-cookiepolicy="single_host_origin">
        </button>
  </div>
