<div id="menu-toggle">
  <%= image_tag "menu.png" %>
</div>

<nav id="menu">


<h1>About Dreams</h1>
  <p>Dreams is an app designed to seamlessly take a trip down memory lane with your YouTube videos or simply explore random topics of interest. We use Google oAuth, the YouTube Player API, and the YouTube Data API, to weave separate videos into a dreamlike sequence that is unique every time. With Dreams you spend less time organizing your videos and more time enjoying and remembering your experiences.</p>

<p>Questions? Comments? Concerns? </p>
<p>Please contact us at:</p>
<p>TheDreamsDevelopmentTeam@gmail.com</p>
</nav>
