<div id="dream-modal-container">
  <div class="youtube_search">
    <form action="" onsubmit="return false">
      <div id="text-center">
        <p>Create a dream</p>
      </div>
      <div class="ui-widget">
        <input id="youtube" />
      </div>
    </form>
  </div>
</div>