<div id="dream-modal-container">
  <div class="youtube_search">
    <form action="" onsubmit="return false">
      <p>Create a dream</p>
      <div class="ui-widget">
        <input id="youtube" />
      </div>
    </form>
  </div>
</div>