<div id="menu-toggle">
	<%= image_tag "menu.png" %>
</div>

<nav id="menu">
	<h1>About Dreams</h1>
	<p>Lorem ipsum dolor sit amet, his te alia clita utamur, ea est dicit percipit, usu aeque quando fabellas ne. Iudico partem debitis est ex. Est rebum ridens moderatius in, convenire consectetuer ut est, cum eius timeam volumus an. Ne est assum efficiantur. Ex duo scriptorem interpretaris, ei fuisset reformidans intellegebat quo.</p>

	<p>Mea rebum vitae graecis in, vel tollit admodum definiebas ei. Eam dicit utamur intellegam an, impetus salutandi ius an. Ius cu aeque definiebas, utroque perpetua persequeris mel cu. Sea ut ocurreret referrentur, et omnis aliquip officiis ius.</p>
</nav>


<div id="dream-modal">
  <h1>
    <span id="modal-header">Welcome to Dreams</span>
  </h1>
  <p>
    <span id="modal-font" class="signin">Sign in with YouTube to see your own dreams</span>
  </p>
  <div class="modal-btn sign-in">
    <a href="#">Sign In</a>
  </div>
  <p>
    <span id="modal-font" class="or">or</span>
  </p>
  <p>
    <span id="modal-font" class="random">Experience a random dream.</span>
  </p>
  <div class="modal-btn random-dream" style="margin-top:-285px">
    <a href="#">Random</a>
  </div>
</div>
<div id="dream-modal-container">
  <div class="youtube_search">
    <form action="" onsubmit="return false">
      <p>Create a dream</p>
      <div class="ui-widget">
        <input id="youtube" />

      </div>
    </form>
  </div>
</div>

<nav id="dreams-select">
  <h1>Choose your videos</h1>
</nav>


<div class="login">
	<a id="dream-btn" href="#dream-modal">Dream</a>
</div>
<%= render 'google_signin' %>


