<div id="menu-toggle">
<%= image_tag "menu.png" %>
</div>

<nav id="menu">
<h1>About Dreams</h1>
<p>Lorem ipsum dolor sit amet, his te alia clita utamur, ea est dicit percipit, usu aeque quando fabellas ne. Iudico partem debitis est ex. Est rebum ridens moderatius in, convenire consectetuer ut est, cum eius timeam volumus an. Ne est assum efficiantur. Ex duo scriptorem interpretaris, ei fuisset reformidans intellegebat quo.</p>

<p>Mea rebum vitae graecis in, vel tollit admodum definiebas ei. Eam dicit utamur intellegam an, impetus salutandi ius an. Ius cu aeque definiebas, utroque perpetua persequeris mel cu. Sea ut ocurreret referrentur, et omnis aliquip officiis ius.</p>
</nav>


<div class="login">
<a id="google-login" href="#">Dream</a></div>
<%= render 'google_signin' %>


