.loading {
  display: none;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_, use general sibling combinator ingeniously */
#autocomplete.ui-autocomplete-loading ~ .loading {
      display: inline-block;
}

.ui-autocomplete .result {
  margin-right: 1em;
  font-size: 14px;
  font-family: 'Quattrocento', serif;
}

.ui-autocomplete {
  opacity: 0;
  display: none;
  @include trans(opacity 1s);
}

.ui-autocomplete-done {
  display: none;
  @include trans(display 1s ease 2s);
}

.ui-autocomplete {
    max-height: 325px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 189px;
}

.ui-autocomplete.opened {
    opacity: 1;
    @include trans(opacity 1s);
}

::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.4);
    background-color: #FFFFFF;
}

.ui-front {
    z-index: 9001;
}
