.youtubeplay {
    display: none;
    background: #ddd;
    padding: 10px;
}

.youtube {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  img{
    float: left;
    margin-right: 15px
  }
  a{
    text-decoration: none;
    color: darkred
  }
  p{
    padding-top: 3em;
  }
}

.youtube_search {
  padding: 10px;
  width: 35%;
  margin: auto;
  display: inline-block;
  p{
    font-size: 1.2em;
    margin-left: 3em;
    font-weight: normal;
    color: #FFF;
    padding-bottom: 5px
  }
}

.fail {
    margin: 10px;
    background-color: darkred;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}

#dream-modal-container {
    display: none;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 9000;
    /*background-color: #FFF;*/
}

#youtube{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}