.thin-progress-bar {
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  width: 0;
  height: 2px;
  background: #dbe4eb;
}
