#menu {
transition: all 1s ease;
position: fixed;
width: 0%;
top: 0;
left: -200px;
background-color:rgba(0, 0, 0, 0.5);
height: 100%;
z-index: 999;
box-shadow: 0px 0px 30px black;
}

#menu h1{
font-family: 'Oswald', sans-serif;
color: white;
text-align: center;
font-size: 3em;
}

#menu p {
color: white;
text-align: center;
font-size: 3em;
}

#menu p {
color: white;
display: block;
text-decoration: none;
padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
border-radius: 100px;
transition: all 0.2s ease;
font-size: 1.3em;
}
#menu a:hover {
background: rgb(50, 50, 50);
}
#menu-toggle {
position: fixed;
top: 20px;
left: 0;
z-index: 1000;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
transition: all 1s ease;
}
#menu-toggle:hover {
cursor: pointer;
}
#menu.open {
left: 0;
width: 400px;
display: block;
}
#menu-toggle.open {
left: 400px;
}