p {
	font-family: 'Quattrocento', serif;
}

a {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

#modal-header {
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:0px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-150px;
  text-align: center;

}

#modal-font.signin{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:25px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-75px;
  text-align: center;
}

#modal-font.or{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:25px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:25px;
  text-align: center;
}

#modal-font.random{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:25px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:50px;
  text-align: center;
}

#lean_overlay {
    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#dream-modal{
  display:none;
  width: 800px;
  height: 400px;
  position: absolute;

  /*background-color: #FFF;*/

}

.modal-btn{
  width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
  z-index: 11001;
  /*position: fixed;*/
}

.modal-btn{
  margin-top: 20%;
}

.modal-btn a{
  font-size: 1em;
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0.5);
  border: solid white .1em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  width: 40%;
  height: 7.5%;
  transition: background-color .5s;
}

.modal-btn a:hover{
  color: black;
  background-color: white;
  border: solid white .1em;
}

.modal-btn a:active{
  color: black;
  background-color: white;
  border: solid white .1em;
}
