body {
  background-color: #000;
}

p {
	font-family: 'Quattrocento', serif;
}

a {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


iframe{
   z-index: -100;
}
#player{
  padding-top:  7%;
  display: none;
  z-index: -99;
}

#modal-header {
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:0px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-150px;
  text-align: center;

}

#modal-font.signin{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:25px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-75px;
  text-align: center;
}

#modal-font.or{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:25px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:25px;
  text-align: center;
}

#modal-font.random{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:25px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:50px;
  text-align: center;
}

.modal_close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  margin-right: 150px;
  z-index: 2; }


#lean_overlay {
    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#dream-modal{
  display:none;
  width: 800px;
  height: 400px;
  position: absolute;

  /*background-color: #FFF;*/

}

.modal-btn{
  width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
  z-index: 11001;
  /*position: fixed;*/
}

.modal-btn{
  margin-top: 20%;
}

.modal-btn a{
  font-size: 1.5em;
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0.5);
  border: solid white .1em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  width: 40%;
  height: 7.5%;
  transition: background-color .5s;
}

.modal-btn a:hover{
  color: black;
  background-color: white;
  border: solid white .1em;
}

.modal-btn a:active{
  color: black;
  background-color: white;
  border: solid white .1em;
}

.movieOff {
    color: #FFFFFF;
    text-align: center;

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}

.movieOn {
  display:block ;
}

#wake-up{
  display:none;
  width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
}

#wake-up {
 /* margin-top: 2.5%;
  margin-right: 2.5%;*/
}

#wake-up a{
  font-size: 1.5em;
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0.5);
  border: solid white .1em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  width: 40%;
  height: 7.5%;
  transition: background-color .5s;
}

#wake-up a:hover{
  color: black;
  background-color: white;
  border: solid white .1em;
}

#wake-up a:active{
  color: black;
  background-color: white;
  border: solid white .1em;
}

#frame{
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 50;
    margin-left: 492px;
    margin-top: 145px;
}

#error-novideos{
  display:none;
  width: 800px;
  margin:0 auto;
}

#novideos-header{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;
  height:25px;
  margin-left:-200px;
  margin-top:-75px;
  text-align: center;
}

#novideos-font{
  color: #FFF;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;
  height:25px;
  margin-left:-200px;
  margin-top: 0px;
  text-align: center;
}
