.loading {
    display: none;
    width: 16px;
    height: 16px;
    background-image: url(loading.gif);
    vertical-align: text-bottom;
}
/* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_, use general sibling combinator ingeniously */
#autocomplete.ui-autocomplete-loading ~ .loading {
    display: inline-block;
}

.ui-autocomplete .result {
    margin-right: 1em;
    font-size: 14px;
    font-family: 'Quattrocento', serif;
}


.ui-front {
    z-index: 9001;
}
