.loading {
    display: none;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
/* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_, use general sibling combinator ingeniously */
#autocomplete.ui-autocomplete-loading ~ .loading {
    display: inline-block;
}

.ui-autocomplete .result {
    margin-right: 1em;
    font-size: 14px;
    font-family: 'Quattrocento', serif;
}

.ui-autocomplete {
    opacity: 0;
    display: none;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.ui-autocomplete.opened {
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.ui-front {
    z-index: 9001;
}
