.youtubeplay { display: none; background: #ddd; padding: 10px }
.youtube {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    overflow: hidden
}
.youtube img {
    float: left;
    margin-right: 15px
}
.youtube a {
    text-decoration: none;
    color: darkred
}
.youtube p {
    padding-top: 10px
}

.youtube_search {
    padding: 10px
}
.youtube_search p {
    font-weight: normal;
    color: #FFF;
    padding-bottom: 5px
}

.fail {
    margin: 10px;
    background-color: darkred;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}


.ui-autocomplete-input, .ui-autocomplete a.ui-corner-all.sbiAnchor:hover {
    font-family: 'Quattrocento', serif;
    font-size: 12px;
    width: 200px;
    height: 25px;
}

.ui-menu {
    list-style:none;
    padding: 0px;
    margin: 0;
    display:block;
    width:227px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento', serif;
    font-size: 14px;
}


#dream-modal-container {
    display: none;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 12000;
    /*background-color: #FFF;*/
}